# Your .env files should have this file naming convention:
# .env.<environment>.<tld>
# Example: .env.development.local
# Example: .env.production.local
# Example: .env.staging.local


# PORT
PORT = 3000

# DATABASE
DB_HOST = localhost
DB_PORT = 27017
DB_DATABASE = dev

# TOKEN
SECRET_KEY = secretKey

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
ORIGIN = *
CREDENTIALS = true
